.padre{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #2E3B47;
    border-radius: 10px;
    border: 1px solid #94ADC7;
    padding: 10px;
    max-width: 500px;
    width: fit-content;
    align-items: center;
}
p{
    color: white;
}
.imagen{
    height: 100px;
    width: 100px;
}
button{
    background-color: #FF6666;
    border-radius: 50%;
    padding: 2px;
    border: none;
    cursor: pointer;
}
