<div class="padre">
     <button (click)="cierre()">X</button>
  <img
    src="https://yt3.googleusercontent.com/9IcF95gkgNJ-Zct9BaVFD1uOEhBOVFie0g43hHSt5oMFgYSxi9zJS9OyN4KYazK4QAfkHgUC6Dc=s900-c-k-c0x00ffffff-no-rj"
    alt=""
    class="imagen"
  />
  <p>{{moto.marca}}</p>
  <p>{{moto.modelo}}</p>
  <p>{{moto.datos_motor.cilindraje}}</p>
  <p>{{moto.datos_motor.disposicion}}</p>
  <p>{{moto.datos_motor.cilindros}}</p>
  <p>{{moto.datos_motor.disposicion}}</p>
  <p>Valvulas por Cilindro</p>
  <p>Refrigeracion</p>
  <p>Compresion</p>
  <p>Potencia</p>
  <p>Torque</p>
  <p>Embrague</p>
  <p>Accionamiento</p>
  <p>Suspension Delantera</p>
  <p>Suspension Trasera</p>
  <p>Frenos Delantero</p>
  <p>Frenos Trasero</p>
  <p>Ruedas Delantera</p>
  <p>Ruedas Trasera</p>
  <p>Capacidad Deposito</p>
  <p>Peso</p>
  <p>Consumo</p>
  <p>Electronica</p>
  <p>Precio Aprox</p>
  <p>Año</p>
  <div></div>
</div>
