<div class="padre">
     <button (click)="cierre()">X</button>
  <img
    src="{{moto.imagenes[0]}}"
    alt=""
    class="imagen"
  />
  <p>{{moto.marca}}</p>
  <p>{{moto.modelo}}</p>
  <p>{{moto.datos_motor.cilindraje}}</p>
  <p>{{moto.datos_motor.disposicion}}</p>
  <p>{{moto.datos_motor.cilindros}}</p>
  <p>{{moto.datos_motor.disposicion}}</p>
  <p>{{moto.datos_motor.valvulas_por_cilindro}}</p>
  <p>{{moto.datos_motor.refrigeracion}}</p>
  <p>{{moto.datos_motor.compresion}}</p>
  <p>{{moto.datos_motor.potencia}}</p>
  <p>{{moto.datos_motor.torque}}</p>
  <p>{{moto.transmision.embrague}}</p>
  <p>{{moto.transmision.accionamiento}}</p>
  <p>{{moto.suspension.delantera}}</p>
  <p>{{moto.suspension.trasera}}</p>
  <p>{{moto.frenos.delantero}}</p>
  <p>{{moto.frenos.trasero}}</p>
  <p>{{moto.ruedas.delantera}}</p>
  <p>{{moto.ruedas.trasera}}</p>
  <p>{{moto.dimensiones.capacidad_deposito}}</p>
  <p>{{moto.dimensiones.peso}}</p>
  <p>{{moto.consumo}}</p>
  <p>{{moto.electronica}}</p>
  <p>{{moto.precio_aprox}}</p>
  <p>{{moto.anio}}</p>
  <div></div>
</div>
