<div class="login-container">
    <div class="login-form">
        <h2>Iniciar Sesión</h2>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <input
            type="text"
            formControlName="email"
            placeholder="Correo electrónico"
            [ngClass]="{ 'is-invalid': f['email'].errors && f['email'].touched }"
            />
            <div *ngIf="f['email'].errors && f['email'].touched" class="invalid-feedback">
            <div *ngIf="f['email'].errors['required']">El correo es obligatorio.</div>
            <div *ngIf="f['email'].errors['email']">Correo no válido.</div>
            </div>
        </div>

        <div class="form-group">
            <input
            type="password"
            formControlName="password"
            placeholder="Contraseña"
            [ngClass]="{ 'is-invalid': f['password'].errors && f['password'].touched }"
            />
            <div *ngIf="f['password'].errors && f['password'].touched" class="invalid-feedback">
            <div *ngIf="f['password'].errors['required']">La contraseña es obligatoria.</div>
            </div>
        </div>

        <button type="submit">Iniciar Sesión</button>
        </form>

        <div>
            <button (click)="loginWithGoogle()" class="google">
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-google"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M20.945 11a9 9 0 1 1 -3.284 -5.997l-2.655 2.392a5.5 5.5 0 1 0 2.119 6.605h-4.125v-3h7.945z" /></svg>
            </button>

            <button>
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-github"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5" /></svg>
            </button>

            <button (click)="loginWithFacebook()">
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-facebook"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" /></svg>
            </button>
        </div>

        <p>¿Olvidaste tu contraseña?</p>
        <a routerLink="/forgot-password">Recuperar aquí</a>

        <p>¿No tienes cuenta?</p>
        <a routerLink="/register">Regístrate aquí</a>

        <a routerLink="/">Volver al inicio</a>
    </div>
</div>
