<div class="login-container">
    <div class="login-form">
        <h2>Iniciar Sesión</h2>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <input
            type="text"
            formControlName="email"
            placeholder="Correo electrónico"
            [ngClass]="{ 'is-invalid': f['email'].errors && f['email'].touched }"
            />
            <div *ngIf="f['email'].errors && f['email'].touched" class="invalid-feedback">
            <div *ngIf="f['email'].errors['required']">El correo es obligatorio.</div>
            <div *ngIf="f['email'].errors['email']">Correo no válido.</div>
            </div>
        </div>

        <div class="form-group">
            <input
            type="password"
            formControlName="password"
            placeholder="Contraseña"
            [ngClass]="{ 'is-invalid': f['password'].errors && f['password'].touched }"
            />
            <div *ngIf="f['password'].errors && f['password'].touched" class="invalid-feedback">
            <div *ngIf="f['password'].errors['required']">La contraseña es obligatoria.</div>
            </div>
        </div>

        <button type="submit">Iniciar Sesión</button>
        </form>

        <br />
        <button (click)="loginWithGoogle()">Iniciar con Google</button>

        <p>¿Olvidaste tu contraseña?</p>
        <a routerLink="/forgot-password">Recuperar aquí</a>

        <p>¿No tienes cuenta?</p>
        <a routerLink="/register">Regístrate aquí</a>

        <br /><br />
        <a routerLink="/">Volver al inicio</a>
    </div>
</div>