.vista-moto{
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #121A21;

}
.rd{
    padding: 30px;
    width: 100%;
 }
.read{
    display: flex;


    gap: 10px;
    width: 100%;
    flex-direction: column;

}
.fotog{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: blue;
}
.fotov{
    display: flex;
    gap: 5px;
    justify-content: flex-start;
}
.foto2{
    width: 50px;
    height: 50px;
    background-color: red;
}
.moto{
    display: flex;
    gap: 10px;
    color: white;
}
.esp{
    color: white;
}
p{
    color: white;
}
.separador{
    height: 1px;
    background-color: #94ADC7;
    width: 100%;
}
*{
    font-family: "Times New Roman", Times, serif !important;
}
.dato{
    display: flex;
    gap: 5px;
}
.cont{
    flex: 1 0 0;

    max-width: 100%;
}
.p1{
    color: #94ADC7;
}
