<div class="vista-moto">


    <div class="rd">
        <div class="read">
            <div class="fotog">
                hola
            </div>
            <div class="fotov">
                <div class="foto2">1</div>
                <div class="foto2">2</div>
                <div class="foto2">3</div>
            </div>
            <div class="moto">
                <h4>MARCA</h4>
                <H4>MODELO</H4>
            </div>
            <p class="p1">anno</p>
            <h3 class="esp">ESPECIFICACIONES :</h3>
            <div class="separador"></div>
            <div class="dato">
                <div class="cont">
                    <p class="p1">motor</p>
                    <p>cilindraje disposicion cilindros distribucion valvulas por cilindro</p>
                </div>
                <div class="cont">
                    <p class="p1">transmision</p>
                    <p>embrague accionamiento</p>
                </div>
            </div>
            <div class="separador"></div>
            <div class="dato">
                <div class="cont">
                    <p class="p1">suspension</p>
                    <p>delantera trasera</p>
                </div>
                <div class="cont">
                    <p class="p1">frenos</p>
                    <p>delantero trasero</p>
                </div>
            </div>
            <div class="separador"></div>
            <div class="dato">
                <div class="cont">
                    <p class="p1">ruedas</p>
                    <p>delantera trasera</p>
                </div>
                <div class="cont">
                    <p class="p1">dimensiones</p>
                    <p>capacidad de deposito peso consumo</p>
                </div>
            </div>
            <div class="separador"></div>
            <div class="dato">
                <div class="cont">
                    <p class="p1">electronica</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed cupiditate amet tenetur
                    </p>
                </div>
                <div class="cont">
                    <p class="p1">precio</p>
                    <p>$$$$$$$</p>
                </div>
            </div>
        </div>
    </div>
</div>
