<div class="forgot-password-container">
    <div class="forgot-password-form">
      <h2>Restablecer Contraseña</h2>
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input
            type="email"
            id="email"
            name="email"
            [(ngModel)]="email"
            required
            placeholder="Ingresa tu correo electrónico"
            [ngClass]="{ 'is-invalid': message && message.includes('error') }"
          />
          <div *ngIf="message && message.includes('error')" class="invalid-feedback">
            {{ message }}
          </div>
        </div>
        <button type="submit" [disabled]="!email">Enviar</button>
      </form>
      <p *ngIf="message && !message.includes('error')">{{ message }}</p>
      <br>
      <a routerLink="/login">Volver al Inicio de Sesión</a>
      <br>
      <a routerLink="">Volver al inicio</a>
    </div>
  </div>