.padre2{
    display: flex;
}
.padre{
    background-color: #121A21;
    width: auto;

}
.contenedor{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    align-items: start;
}
.h{
    color: white;
}
.parrafo{
    color: #94ADC7;
}
.a{
    background-color: white;
}
