<div class="padre2">
    <div class="padre">
        @for (motoSeccion of motoService.motos; track $index) {

            <section class="secciones">

                @for (motoDetalle of motoSeccion; track $index) {

                    <div class="contenedor">
                        <img src="{{motoDetalle.imagenes[0]}}" alt="" class="foticos">
                        <h2 class="h">{{motoDetalle.modelo}}</h2>
                        <p class=" parrafo">{{motoDetalle.marca}}</p>
                        <p class="parrafo">{{motoDetalle.precio_aprox}}</p>
                        <a href=""> Ver mas.</a>
                    </div>
                }
            </section>
        }

    </div>
</div>
