<div class="separador"></div>

<div class="cuerpo">
    <app-nav-motos (seccionCambiada)="cambiarSeccion($event)"></app-nav-motos>
    
    <div class="contenido">
        @if (seccionActual === 'todas') {
            <!-- Aquí irá el componente de todas las motos -->
            <div class="todas-motos">
                <app-todas-motos></app-todas-motos>
            </div>
        } @else if (seccionActual === 'marcas') {
            <app-tarjeta-moto></app-tarjeta-moto>
        }
    </div>
</div>