<div class="vm">
    <header routerLink="">
        <div class="contsvg">
            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-home"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l-2 0l9 -9l9 9l-2 0" /><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" /><path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" class="svg"/></svg>
        </div>
    </header>
    <div class="vs">
        <div class="div1">
            <div class="foto">
                foto
            </div>
            <div class="caracteristicas">
                <p>Marca :</p>
                <p>Modelo :</p>
                <p>Año :</p>
                <h4>Datos Motor :</h4>
                <p>Cilindraje :</p>
                <p>Disposición :</p>
                <p>Cilindros :</p>
                <p>Distribucion :</p>
                <p>Valvulas por Cilindro :</p>
                <p>Refrigeracion :</p>
                <p>Compresion :</p>
                <p>Potencia :</p>
                <p>Torque :</p>
                <h4>Transmision :</h4>
                <p>Embrague :</p>
                <p>Accionamiento :</p>
                <h4>Suspension :</h4>
                <p>Delantera :</p>
                <p>Trasera :</p>
                <h4>Frenos :</h4>
                <p>Delantero :</p>
                <p>Trasero :</p>
                <h4>Ruedas :</h4>
                <p>Delantera :</p>
                <p>Trasera :</p>
                <h4>Dimensiones :</h4>
                <p>Capacidad Deposito :</p>
                <p>Peso</p>
                <p>Consumo :</p>
                <p>Electronica :</p>
                <p>Precio Aprox :</p>
            </div>
        </div>
        <div class="div2">
            comparacion
        </div>
    </div>



</div>
