<div class="vm">
    <div class="vs">
        <div class="div1">
            <div class="buscador">
                <input type="text" placeholder=" Buscar Moto" class="buscar" (input)="findMotos($event)">
                <div class=" boton">
                    @for (moto of arreglo; track $index) {
                    <button >
                        {{moto.marca}}{{moto.modelo}}
                    </button>
                    }
                </div>
            </div>
            <div class="caracteristicas">
                <p>Marca :</p>
                <p>Modelo :</p>
                <p>Cilindraje :</p>
                <p>Disposición :</p>
                <p>Cilindros :</p>
                <p>Distribucion :</p>
                <p>Valvulas por Cilindro :</p>
                <p>Refrigeracion :</p>
                <p>Compresion :</p>
                <p>Potencia :</p>
                <p>Torque :</p>
                <p>Embrague :</p>
                <p>Accionamiento :</p>
                <p>Suspension Delantera :</p>
                <p>Suspension Trasera :</p>
                <p>Frenos Delantero :</p>
                <p>Frenos Trasero :</p>
                <p>Ruedas Delantera :</p>
                <p>Ruedas Trasera :</p>
                <p>Capacidad Deposito :</p>
                <p>Peso</p>
                <p>Consumo :</p>
                <p>Electronica :</p>
                <p>Precio Aprox :</p>
                <p>Año :</p>
            </div>
        </div>
        <div class="div2">
            comparacion
        </div>
    </div>



</div>
