header{
    display: flex;
    gap: 10px;
    background-color: aquamarine;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}
.vm{
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.vs{
    display: flex;
    margin: 0 1%;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.contsvg{
    cursor: pointer;
}

.div1{
    flex: 1 0 0;
    background-color: #E3DAC9;
    display: flex;
    gap: 1px;
    flex-direction: column;
    max-width: 350px;
    /*
    box-sizing: border-box;
    */
}
.div2{
    flex: 1.5 0 0;
    background-color: #f09a87;
    /*
    box-sizing: border-box;
    */
}
.foto{
    background: #000;
    height: 100px;
}
.caracteristicas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
