
.vm {
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1A252E;
}
.vs {
  display: flex;
  margin: 0 1%;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #1e2b36; /* azul claro */
  border-radius: 10px;
}
.contsvg {
  cursor: pointer;
}

.div1 {
  flex: 1 0 0;
  background-color: #2E3B47;
  padding: 10px;
  border-radius: 10px;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  border: 1px solid #1e2b36; /* azul claro */
  border-radius: 10px;
  align-items: center;
  gap: 10px;
}
.div2 {
  flex: 1.5 0 0;
  background-color: #2E3B47;
  border: 1px solid #1e2b36; /* azul claro */
  border-radius: 10px;
  padding: 15px;
  /*
    box-sizing: border-box;
    */
}

.caracteristicas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.buscar{
    background-color: #2E3B47;
    border-radius: 15px;
    color: black;
    border-color: 	#7DA5C7;
    box-shadow: none;
    margin-top: 30px;
}
.buscar::placeholder {
  color: #ffffff; /* Cambia este valor por el color que desees */
}
.boton{
  display: flex;
  flex-direction: column;
  gap: 3px;
  color: white;
  background-color: #50606F;
}
p{
  color: white;
}
