<div class="vm">
    <div class="vs">
        <div class="div1">
            <div class="foto">
                foto
            </div>
            <div class="caracteristicas">
                <p>Marca :</p>
                <p>Modelo :</p>
                <p>Año :</p>
                <h4>Datos Motor :</h4>
                <p>Cilindraje :</p>
                <p>Disposición :</p>
                <p>Cilindros :</p>
                <p>Distribucion :</p>
                <p>Valvulas por Cilindro :</p>
                <p>Refrigeracion :</p>
                <p>Compresion :</p>
                <p>Potencia :</p>
                <p>Torque :</p>
                <h4>Transmision :</h4>
                <p>Embrague :</p>
                <p>Accionamiento :</p>
                <h4>Suspension :</h4>
                <p>Delantera :</p>
                <p>Trasera :</p>
                <h4>Frenos :</h4>
                <p>Delantero :</p>
                <p>Trasero :</p>
                <h4>Ruedas :</h4>
                <p>Delantera :</p>
                <p>Trasera :</p>
                <h4>Dimensiones :</h4>
                <p>Capacidad Deposito :</p>
                <p>Peso</p>
                <p>Consumo :</p>
                <p>Electronica :</p>
                <p>Precio Aprox :</p>
            </div>
        </div>
        <div class="div2">
            comparacion
        </div>
    </div>



</div>
