.header{
    display: flex;
    gap: 10px;
    background-color: #121A21;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
a{
    padding: 10px;
    cursor: pointer;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    border-radius: 7px;
    display: block;
    color: white;
    font-size: medium;
    text-decoration: none;

}
.buscador{
    border-radius: 7px;
    border: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 5px;
    outline: none;
    background-color: #94ADC7;

}
.contenedor{
    display: flex;
    gap: 10px;
    padding: 10px;
    transform: translateX(-100%);
    transition: transform 0.3s;

}
.rutversus{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}
.divdisplay{
    cursor: pointer;
}
.logo{
    display: flex;
    gap: 2px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
p{
    color: white;
}
.svg{
    color: white;
}
.buscador::placeholder{
    color: white;
}

.division{
    display: flex;
    gap: 10px;
}
