<div class="grande">
  <div class="contenedor">
    <div class="foto">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmVuZQ0SBhC6SpIgeJkHyB-w2F8-9fSdREag&s" alt="" class="imagen" />
    </div>
    <p>Marca</p>
    <p>Modelo</p>
    <p>año</p>
    <p>Datos del motor:</p>
    <div class="espacios">
      <p>Cilindraje</p>
      <p>disposicion</p>
      <p>Cilindros</p>
      <p>Distibucion</p>
      <p>Valvulas por cilindro</p>
      <p>Refrigeracion</p>
      <p>Compresion</p>
      <p>Potencia</p>
      <p>Torque</p>
      <p>Tansmision</p>
      <p>Embrague</p>
      <p>accionamiento</p>
    </div>
    <p>suspension: </p>
    <div class="espacios">
        <p>delantera</p>
        <p>trasera</p>
    </div>
    <p>frenos:</p>
    <div class="espacios">
        <p>delantero</p>
        <p>trasero</p>
    </div>
    <p>ruedas</p>
    <div class="espacios">
        <p>delantera</p>
        <p>trasera</p>
    </div>
    <p>dimensiones</p>
    <div class="espacios">
        <p>capacidad de deposito</p>
        <p>peso</p>
    </div>
    <p>consumo</p>
    <p>electronica</p>
    <p>peso aproximado</p>
  </div>
</div>
